@model OneArmoryApp.Models.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentTypeNavigation.EquipmentType1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomenclatureNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomenclatureNavigation.Nomenclature1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlatoonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlatoonNavigation.Platoon1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeaponId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
