@model IEnumerable<OneArmoryApp.Models.Weapon>

@{
    ViewData["Title"] = "Index";
}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nomenclature
                        </th>
                        <th>
                            Serial #
                        </th>
                        <th>
                            Platoon
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomenclatureNavigation.Nomenclature1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Serial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlatoonNavigation.Platoon1)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.WeaponId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.WeaponId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.WeaponId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>